.search-for-user-container{
    position: relative;
    width: 200px;
    transition: width 0.3s;
    color: #304674;
    z-index: 2;
    margin-left: auto;

    i {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        height: 100%;
        align-content: center;
        padding-left: 10px;
    }

    input {
        border-radius: 4px;
        border: 1px solid #304674;
        width: 100%;
        height: 100%;
        padding-left: 40px;
        padding-right: 6px;
        background-color: #C8D9E6;
    }

    .search-results-container {
        position: absolute;
        padding: 10px;
        width: 100%;

        .search-result-item-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 4px;
            padding: 0;
            margin: 4px;
            cursor: pointer;
    
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }

        p {
            font-size: 14px;
            margin: 4px 6px;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            text-wrap: nowrap;
        }
    }
}

.darken-background {
    position: absolute;
    top: 76px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 76px);
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 1s;
    z-index: 1;
}

.search-for-user-container:focus-within {
    width: 300px;
    transition: width 0.3s;
}

.darken-background-active {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}