.profile-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .profile-info-container {
        display: flex;
        flex-direction: row;

        .profile-picture {
            width: 128px;
            height: 128px;
            border-radius: 50%; /* Makes the picture circular */
            margin-right: 20px;
        }

        .profile-info p {
            margin: 5px 0 ;
            display: flex;
            flex-direction: column;
        }
    }

    .btn-edit-profile {
        background-color: #fff; /* #fff2f4#faf5fd Light background color */
        border: 1px solid #ddd; /* Soft border */
        border-radius: 8px; /* Rounded corners */
        height: fit-content;
    }

    .btn-edit-profile:hover {
        background-color: #f0f0f0; /* Slightly darker on hover */
        transition: background-color 0.3s; /* Smooth transition */
    }

    p:empty:not(:focus)::before {
        content: attr(data-placeholder);
      }
}