.profile-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .profile-info-container {
        display: flex;
        flex-direction: row;

        .profile-picture {
            width: 128px;
            height: 128px;
            border-radius: 50%; /* Makes the picture circular */
            margin-right: 20px;
        }

        .profile-info p {
            margin: 5px 0 ;
            display: flex;
            flex-direction: column;
        }
    }

    .btn-edit-profile {
        border-radius: 50%; /* Circle */
        height: fit-content;
        width: fit-content;
        border: none;
        cursor: pointer;
        line-height: 0;
        padding: 4px;
        background: none;

        i {
            color:#304674;
        }
    }

    .btn-edit-profile:hover {
        background-color: #f0f0f0; /* Slightly darker on hover */
        transition: background-color 0.3s; /* Smooth transition */
    }
}