/* Modal */
.entry-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
    text-align: center;
}

/* Close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Entry text */
.entry-textarea {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px;
    resize: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--text-color);
}

.entry-textarea:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(154, 34, 72, 0.5);
}

/* Save button */
.save-button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.save-button:hover {
    background-color: var(--primary-color);
}

.edit-profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes the picture circular */
    margin-left: 0px;
}
.edit-profile-picture:hover {
    filter: brightness(70%);
    transition: 0.3s; /* Smooth transition */
}

/* for the birthday date area */
.dateinput {
    width: 180px; 
    padding: 8px 12px;
    margin-top: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--background-color);
    text-align: center;
    cursor: pointer;
}

.dateinput:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(154, 34, 72, 0.5);
}
