.navbar {
    display: flex;
    background-color: #c8d9e681;
    align-items: center;
    font-size: 16px;
    padding: 1rem;

    .navbar-layout {
        display: flex;
        flex-direction: row;
        max-width: 1280px;
        min-width: 1280px;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: auto;
        justify-content: space-between;

        img {
            height: 40px;
            cursor: pointer;
        }

        a {
          color: #304674;
          text-decoration: none;
          padding: 0.5rem 1rem; /* Add padding inside the border */
          border: 1px solid #304674; /* Border around each link */
          border-radius: 4px; /* Optional rounded corners */
      }

      .btn-container {
          display: flex;
          flex-direction: row;
          gap: 2rem;
      }

        .btn-container {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
    }

    @media only screen and (max-width: 1280px) {
        .navbar-layout {
            min-width: calc(100vw - 2rem);
            box-sizing: border-box;
        }
    }

    @media only screen and (max-width: 727px) {
        .navbar-layout {
            min-width: calc(727px - 2rem);
            box-sizing: border-box;
        }
    }
}