.navbar {
    display: flex;
    position: fixed;
    height: var(--nav-bar-height);
    width: 100%;
    background-color: var(--tertiary-color);
    align-items: center;
    font-size: 16px;
    padding: 1rem;
    top: 0;
    left: 0;
    z-index: 2;

    .navbar-layout {
        display: flex;
        flex-direction: row;
        max-width: 1280px;
        min-width: 1280px;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: auto;
        justify-content: space-between;

        .logo {
            height: 40px;
            cursor: pointer;
            mix-blend-mode: color-burn;
            filter: brightness(.5) contrast(4);
        }
    
        .btn-nav {
            border: none;
            background-color: transparent;
            cursor: pointer;
            border-radius: 50%;
            color:var(--primary-color);
        }
        .btn-nav:hover {
            color:var(--secondary-color);
        }
        .btn-nav:hover:active{
            color:var(--secondary-color);
        }
        .btn-nav{
            font-size: 30px;
        }
        .btn-container {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
        .btn-title{
            font-size: 14px; 
        }
    }

    @media only screen and (max-width: 1280px) {
        .navbar-layout {
            min-width: calc(100% - 2rem);
            box-sizing: border-box;
        }
    }

    @media only screen and (max-width: 727px) {
        .navbar-layout {
            min-width: calc(727px - 2rem);
            box-sizing: border-box;
        }
    }
}

.darken-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh);
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.darken-background-active {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}