.btn-nav {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    color: var(--text-color);
    i {
        font-size: var(--nav-bar-icon-size);
    }
}
.btn-nav:hover {
    color:var(--primary-color);
}
  /* Pop-out notification styles */
  .popout-notification {
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transform: translate(-5%, -100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    max-width: 300px;
  }
  
  .popout-notification.show {
    opacity: 1;
    transform: translate(-5%, 20%);
  }
  