.toast {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 40px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: opacity 0.3s;
    background-color: #2ecc71;
    text-align: center;
    line-height: 0;
    align-content: center;
}
.toast.error {
    background-color: #e74c3c;
}