.toast {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #2ecc71;
    text-align: center;
    line-height: 0;
    align-content: center;
}
.toast.info {
    background-color: #2196f3;
}
.toast.error {
    background-color: #e74c3c;
}
.toast.success {
    background-color: #4caf50;
}