:root {
  --background-color: #FFFFFF;
  --text-color: #2F4156;
  --primary-color: #2F4156;
  --secondary-color: #567c8d;
  --tertiary-color: #C8D9E6;
  --quaternary-color: #F5EFEB;
  --transparent-color: #567c8d4a;
  --transparent-hover-color: #567c8d78;
  --nav-bar-height: 80px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;   /* Always show vertical scroll bar */
}

::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-track{
  background-color: var(--background-color);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.blue-theme {
  --background-color: #FFFFFF;
  --text-color: #2F4156;
  --primary-color: #2F4156;
  --secondary-color: #567C8D;
  --tertiary-color: #C8D9E6;
  --quaternary-color: #F5EFEB;
  --transparent-color: #567c8d4a;
  --transparent-hover-color: #567c8d78;
}

.pink-theme {
  --background-color: #fff6f8;
  --text-color: #5e4146;
  --primary-color: #eb6a80;
  --secondary-color: #ffc6d0;
  --tertiary-color: #ffd9df;
  --quaternary-color: #ffdfe5;
  --transparent-color: #ffc6d04a;
  --transparent-hover-color: #ffc6d076;
}

.green-theme {
  --background-color: #f0fbf4;
  --text-color: #4a6b57;
  --primary-color: #688a76;
  --secondary-color: #8cb09a;
  --tertiary-color: #c3dacd;
  --quaternary-color: #c5e9d3;
  --transparent-color: #a8d5ba4a;
  --transparent-hover-color: #a8d5ba76;
}
.purple-theme {
  --background-color: #f3e6f9;
  --text-color: #6b4c8d;
  --primary-color: #8a6b9f;
  --secondary-color: #b29dc9;
  --tertiary-color: #d6b9e0;
  --quaternary-color: #dcbbe9;
  --transparent-color: #a8a2d64a;
  --transparent-hover-color: #a8a2d676;
}
