@import './base.css';
main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/* Temporarily disable dark-theme from making styling look weird */
@media (prefers-color-scheme: dark) {
  body {
      background-color: #F5EFEB;
      color:#304674;
  }
}

.card {
  background-color: #fff; /* #fff2f4#faf5fd Light background color */
  border: 1px solid #ddd; /* Soft border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-family: 'Georiga', serif;/* Elegant font for writing */
  padding: 20px; /* Space inside the box */
  font-style: bold;
}

.clickable:hover {
  background-color: #f0f0f0; /* Slightly darker on hover */
  transition: background-color 0.3s; /* Smooth transition */
}