.entry-container {
    position: relative; /* Allow positioning of child elements relative to this container */
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--background-color);
    cursor: pointer;
    border-radius: 4px;

    .profile-picture {
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 50%;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        line-height: 1;
    }
}

.entry-container:hover {
    background-color: var(--quaternary-color);
    transition: all 0.3s;
}