@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.entry-container {
    position: relative;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 1px solid red;
  color: red;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.entry-container:hover .delete-button {
  display: block; 
  opacity: 1;
}

.delete-button:hover {
  color: white;
  background-color: red;
  border-radius: 50%;
}

.favicon-container {
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    margin-left: 4px;
}

.favicon-icon {
    width: 24px;
    height: 24px;
}

.music-play {
    position: absolute;
    top: 30%;
    right: 5%;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

audio::-webkit-media-controls-panel {
    background-color: #a3a3a3;
  }
  
  audio::-webkit-media-controls-current-time-display {
    color: #fff;
  }

  audio::-webkit-media-controls-timeline {
    background-color: #95879c;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .output-text {
    color: var(--text-color);
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em; /* Optional: Adjust size for better readability */
    line-height: 1.5; /* Optional: Improve spacing for multiline text */
}