.loading-spinner-container {
    display: flex;
}

.loading-spinner-main {
    animation: bob-main 0.5s infinite alternate ease-in-out;
}

.loading-spinner-accents {
    transform: translate(-30px, -30px);

    .loading-spinner-accent1 {
        animation: bob-accent 0.5s 0.1s infinite alternate ease-in-out;
    }
    
    .loading-spinner-accent2 {
        animation: bob-accent 0.5s 0.2s infinite alternate ease-in-out;
    }
}

@keyframes bob-main {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes bob-accent {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-30px);
    }
}