.calender-container {
    text-align: center;
    align-items: center;

    .calendar-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .calendar-arrow {
            border-radius: 50%; /* Circle */
            height: fit-content;
            width: fit-content;
            border: none;
            cursor: pointer;
            line-height: 0;
            padding: 4px;
            background: none;

        i {
            color:#304674;
        }

        }

        .calendar-arrow:hover {
            background-color: var(--quaternary-color); /* Slightly darker on hover */
            transition: background-color 0.3s; /* Smooth transition */
        }
        
    }

    p {
        font-size: 20px;
        padding-bottom: 5px;
    }
    
    .calender-item-container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;

        .calender-item {
            height: 48px;
            width: 36px;
            padding: 0;
            overflow: hidden;
            cursor: pointer;
        }

        .days-on-calendar {
            font-size: 12px;
        }

        img {
            width: 100%;
            height:100%;
            object-fit: cover;
        }

        p {
            padding-bottom: 0px;
        }
    }
}

.entries-for-day {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(240, 234, 234, 0.126);
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;

    .entry-for-day {
        display: flex;
        padding: 10px 20px;
        height: fit-content;
        position: relative; 
    }

    p {
        font-size: 14px;
    }

    .entry-time {
        color: var(--secondary-color);
        font-size: 12px;
    }

    .day-entry-albumImg {
        height: 35px;
        width: 35px;
        cursor: pointer;
        align-self: center;
        
    }
}

.go-to-top {
    padding: 8px;
    cursor: pointer;
}

.textbox {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 10px;
}